.cart h1, img{
  display: inline-block;
  margin-top: 25px;
}

.cart img{
  cursor: pointer;
  height: 30px;
  width: 30px;
  margin-right:10px;
}
.cart-options{
  display:flex;
  justify-content: center;
}

.cart-options button{
  margin-left: 15px;
}
table {
    width: 70%;
    max-height: 200px;
    border: 1px solid black;
    overflow-y: scroll;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
    border-bottom: 25px;
  }
  
  th {
    height: 50px;
    border: 1px solid black;
    padding: 15px;
    text-align: left;
  }
  td {
    height: 50px;
    border: 1px solid black;
    padding: 15px;
    text-align: left;
}

tr:hover {
  background-color: silver; 
  color: white;
  border: 1px solid white;
}

tr:hover button {
  color: white;
}

button:hover{
  cursor: pointer;
}



