.product-button{
    background-color: transparent;
    transition: 0.1s ease;
    margin-left: 10px;
    font-weight: bold;
    border: none;
    transition: ease 0.5s
}

.product-button-edit{
    background-color: transparent;
    transition: 0.1s ease;
    margin-left: 10px;
    font-weight: bold;
    border: none;
    transition: ease 0.5s
}

.product-button:hover{
    /*border: 1px solid grey;*/
    cursor: pointer;
}