.searchbar-button{
    padding: 7px;
    transition: 0.3s ease;
    margin-left: 8px;
    margin-top: 10px;
}

.scroll-table{
    height: 600px;
    width: 100%;
    overflow-y: scroll;
    margin-bottom: 35px;
    margin-top: 35px;
}

::-webkit-scrollbar {
    width: 10px;
    /*background: transparent; /* make scrollbar transparent */
}

.searchbar-button:hover{
    padding: 15px;
}

.searchbar-input{
    padding: .4rem;
    margin-top: 10px;
}