.searchbar-button{
    padding: 7px;
    transition: 0.3s ease;
    margin-left: 8px;
    margin-top: 10px;
}
.searchbar-button:hover{
    padding: 15px;
}

.searchbar-input{
    padding: .4rem;
    margin-top: 10px;
}